.sidebar {
  background-color: white;
  height: 100vh;
  width: 250px;
  transition: all 0.3s ease;
  overflow-x: hidden;
}

.sidebar.collapsed {
  width: 80px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-img {
  max-height: 60px;
}

.toggle-btn {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  margin-top: 0.5rem;
}



.sidebar .nav-link {
  font-size: 15px;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  border-radius: 4px;
}

.nav-link.text-hover {
  color: #ff4d4d;
  transition: color 0.3s ease;
}
